@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200&display=swap');

html{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    width: 90%;
    background: #f3f0d7;
    color: #5e454b;
    transition: 1s;
    text-align: center;
}

main{
    font-family: 'Titillium Web', sans-serif;
    margin: auto;
    width: 95%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    margin: 0;
}

.clock {
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: #ecf0f1;
    border-radius: 50%;
    position: relative;
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock .hand.second {
    width: 3px;
    height: 45%;
    background-color: #95a5a6;
}

/* --- DARK MODE --- */

.dark{
    background: #000;
    color: #fff;
    transition: 1s;
}
